body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    background: #f0f0f0;
}


#mainContainer {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background: #f0f0f0;
    padding: 30px 30px 20px 30px;
    margin-bottom: 30px;
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 300px;
    text-align: right;
    /*background-color: aquamarine;*/
}
input {
    display: inline-block;
    float: right;
}